<!DOCTYPE html>
<html lang="ENG">
<head>
    <meta charset="utf-8">
    <title>Example</title>
    <meta name="author" content="d74g0n">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

</head>
<script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/matter-js/0.14.2/matter.js"></script>
<script src="//pagecdn.io/lib/ace/1.4.12/ace.js" crossorigin="anonymous" integrity="sha256-Q9hnBpgBFstzZOr+OKFOWZWfcF5nFXO8Qz48Nmndo6U="></script>

<body>
     </br>
    <center><span id="title">-={ EXAMPLE }=-</span></center>
    <script src="index.js"></script>
    <div id="game"></div>  
    </br>
     <center><span id="infobar">-=[ MOUSE INTERACTIVE ]=-</span></center>
        <div id="editor">
    
  
    </div>

    <center><span id="infobottom">-=[ Phaser3 Matter.js Examples ]=-</span></center>

<script src="editor_style.js"></script>
</body></html>
